.cardsContainer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto;
  width: 80%;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--neutral-800);
    text-align: center;
  }

  &__cardsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    width: 100%;
  }

  &__cardsGrid__card {
    background-color: var(--neutral-100);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    &__cardImage {
      width: 100%;
      height: auto;
      border-radius: 4px;
      margin-bottom: 1rem;
    }

    &__cardTitle {
      font-size: 1.25rem;
      font-weight: bold;
      color: var(--neutral-700);
      margin: 0.5rem 0;
    }

    &__cardDescription {
      font-size: 1rem;
      color: var(--neutral-600);
      line-height: 1.5;
    }
  }
}


/* Media Queries para diseño responsivo */
/* Pantallas medianas (hasta 1200px) */
@media (max-width: 1200px) {
  .cardsContainer__cardsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .cardsContainer{
    width: 90%;
  }
}

/* Pantallas pequeñas (hasta 768px) */
@media (max-width: 768px) {
  .cardsContainer__cardsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .cardsContainer{
    width: 90%;
  }
}

/* Pantallas muy pequeñas (hasta 480px) */
@media (max-width: 480px) {
  .cardsContainer__cardsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardsContainer{
    width: 90%;
  }
}
