.container {
  width: 100%;
  background-color: var(--background-light);
  color: rgb(186, 186, 186);
  padding: 10px 20px;
  height: auto;
  box-sizing: border-box;
  margin-top: 5rem;

  &__content {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 1rem 0;
    flex-wrap: wrap;

    &__preFooterSection {
      flex: 1;
      min-width: 150px;
      padding: 1rem;
      
      h3 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }
    
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    
      li {
        margin-bottom: 0.5rem;
      }
    
      a {
        color: rgb(186, 186, 186);
        text-decoration: none;
        font-size: 0.9rem;
        transition: color 0.3s ease;
    
        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
}



/* Media Queries para diseño responsivo */
/* Pantallas medianas (hasta 1200px) */
@media (max-width: 1200px) {
  .container {
    height: auto;
  }

  .preFooterSection {
    min-width: 180px;
  }
}

/* Pantallas pequeñas (hasta 768px) */
@media (max-width: 768px) {
  .container {
    padding: 10px 15px;
    height: auto;
  }

  .preFooterSection {
    min-width: 120px;
    text-align: center;
  }
}

/* Pantallas muy pequeñas (hasta 480px) */
@media (max-width: 480px) {
  .container {
    padding: 10px 10px;
    height: auto;
  }

  .preFooterSection {
    min-width: 100px;
    text-align: center;
  }
}
