.container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      padding: 1.5rem;
      text-align: center;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;

      overflow: hidden;
      position: relative;
      height: 30vh;

      img {
        width: 20vh;
        height: 20vh;
        object-fit: cover;
        border-radius: 20rem;
      }

      h1 {
        font-size: 1.8rem;
        font-weight: bold;
        color: #333;
        text-transform: uppercase;
      }

      p {
        font-size: 1rem;
        font-weight: bold;
        color: #333;
      }

    }

    &__arrow {
      border: none;
      cursor: pointer;
      padding: 10px 15px;
      border-radius: 50%;
      font-size: 1.5rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #555;
      }
    }
  
    &__arrow:first-of-type {
      left: 10px;
    }
  
    &__arrow:last-of-type {
      right: 10px;
    }
  }  

  
  &__contentadd {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    overflow: hidden;
    position: relative;
    height: 30vh;

    textarea {
      color: #555;
      margin-top: 1rem;
      width: 100%;
      height: 20vh;
      padding: 5px;
      text-transform: capitalize;
      resize: none; 
    }    

    button {
      margin-top: 1rem;
      background-color: #dadada;
      border: none;
      padding: 10px 20px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 20rem;
    }

    div {
      width: 20vh;
      height: 20vh;
      border-radius: 50%;
      border: 2px dashed #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background-color: #f9f9f9;
    }
  }
}


